<!-- author_detail.html -->
{% extends "base.html" %}
{% block title %}Detalles del Autor{% endblock title %}
{% block content %}
<div class="container mt-4">
    <div class="card">      
        <div class="card-body">
            <h5 class="card-title">{{ author.first_name }} {{ author.last_name }}</h5>
            <p class="card-text">Email: {{ author.email }}</p>
            {% if user.is_authenticated %}
            <a href="{% url 'libros:edit_author' author.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'libros:delete_author' author.id %}" class="btn btn-danger">Eliminar</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}