{% extends 'base.html' %}
{% block title %}Compras{% endblock title %}
{% block content %}
<div class="container mt-4">
  <div class="row">
  <div class="card">      
      <div class="card-body">
        <h5 class="card-title">Compra :  {{ compra.id }}</h5>   
          <h5 class="card-title"> {{ compra.cliente.first_name }} {{ compra.cliente.last_name }}</h5>          
          <p>Fecha: {{ compra.fecha }}</p>
          <p>Productos:</p>
          <ul>
            {% for book in compra.productos.all %}
              <li>{{ book.title }} ({{ book.price }})</li>
            {% endfor %}
          </ul>
          <p>Total: {{ compra.total }}</p>

      </div>
  </div>
</div>
</div>
{% endblock %}