<!-- author.html -->
{% extends "base.html" %}
{% block title %}Autores{% endblock title %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for author in authors %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ author.first_name }} {{ author.last_name }}</h5>
                    <p class="card-text">Email: {{ author.email }}</p>
                    <a href="{% url 'pokedex:author_detail' author.id %}" class="btn btn-primary">Ver Detalles</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'pokedex:edit_author' author.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'pokedex:delete_author' author.id %}" class="btn btn-danger">Eliminar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
