<!-- client_detail.html -->
{% extends "base.html" %}
{% block title %}Detalles del Cliente{% endblock title %}
{% block content %}
<div class="container mt-4">
    <div class="card">      
        <div class="card-body">
            <h5 class="card-title">{{ client.first_name }} {{ client.last_name }}</h5>
                    <p class="card-text">CI: {{ client.id_number}} </p>
                    <p class="card-text">Email: {{ client.email }}</p>
                    <p class="card-text">Telefono: {{ client.phone }}</p>
                    <p class="card-text">Direcciòn: {{ client.address }}</p>
            {% if user.is_authenticated %}
            <a href="{% url 'pokedex:edit_client' client.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'pokedex:delete_client' client.id %}" class="btn btn-danger">Eliminar</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}